{
    "*/**/*.{js,jsx,ts,tsx}": [
        "prettier --write",
        "eslint --fix",
        "eslint"
    ],
    "*/**/*.{css,scss,less,styl,stylus}": [
        "stylelint --fix"
    ],
    "*/**/*.{json,md}": [
        "prettier --write"
    ]
}