@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 30 66.7% 95.3%;
    --foreground: 0 0% 0%; /* Black */
    --primary: 0 0% 0%; /* Black */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 0%;
    --border: 0 0% 0%;

    /* Purple Shades */
    --purple-100: 264.9 100% 74.5%;
    --purple-200: 264.9 100% 87.3%;
    --purple-300: 265.4 100% 94.9%;

    /* Yellow Shades */
    --yellow-100: 52.0 100% 67.5%;
    --yellow-200: 52.2 100% 80.4%;
    --yellow-300: 52.8 100% 88.6%;

    /* Pink Shades */
    --pink-100: 325.6 100% 77.1%;
    --pint-200: 325.3 100% 88.8%;
    --pink-300: 324.8 100% 94.3%;

    /* Green Shades */
    --green-100: 146.0 89% 71.6%;
    --green-200: 145.7 88.5% 82.9%;
    --green-300: 146.7 88.2% 90%;

    /* Blue Shades */
    --blue-100: 187.2 100% 77.1%;
    --blue-200: 187.1 100% 85.1%;
    --blue-300: 187.3 100% 92.0%;

    /* Success Colors */
    --success: 158.6 63.2% 53.1%;
    --success-foreground: 146.7 88.2% 90.0%;

    /* Warning Colors */
    --warning: 21.6 100% 70.6%;
    --warning-foreground: 32.6 100% 92.0%;

    /* Destructive Colors */
    --destructive: 0 100% 66.5%;
    --destructive-foreground: 0 100% 92.0%;

    /* Neutral Shades */
    --neutral-100: 0 0% 0%; /* Black */
    --neutral-200: 0 0% 8.6%;
    --neutral-300: 220 6.3% 34%;
    --neutral-400: 220 12.5% 91.8%;

    /* White */
    --white: 0 0% 100%;
    --radius: 0.5rem;



    /* Shadows */
    --shadow-primary-1: 0.125rem 0.125rem 0 #000;
    --shadow-primary-2: 0.25rem 0.25rem 0 #000;
    --shadow-primary-3: 0.375rem 0.375rem 0 #000;
    --shadow-primary-4: 0.5rem 0.5rem 0 #000;
    --shadow-secondary-1: 0.125rem -0.125rem 0 #000;
    --shadow-secondary-2: 0.25rem -0.25rem 0 #000;
    --shadow-secondary-3: 0.375rem -0.375rem 0 #000;
    --shadow-secondary-4: 0.5rem -0.5rem 0 #000;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;  /* Black */
    --foreground: 0 0% 100%;  /* White */
    --primary: 265 100% 75.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 41.9% 60%;
    --secondary-foreground: 0 0% 100%;
    --border: 0 0% 100%;

    /* Shadows */
    --shadow-primary-1: 0.125rem 0.125rem 0 #fff;
    --shadow-primary-2: 0.25rem 0.25rem 0 #fff;
    --shadow-primary-3: 0.375rem 0.375rem 0 #fff;
    --shadow-primary-4: 0.5rem 0.5rem 0 #fff;
    --shadow-secondary-1: 0.125rem -0.125rem 0 #fff;
    --shadow-secondary-2: 0.25rem -0.25rem 0 #fff;
    --shadow-secondary-3: 0.375rem -0.375rem 0 #fff;
    --shadow-secondary-4: 0.5rem -0.5rem 0 #fff;

  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


