@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 30 66.7% 95.3%;
    --foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 0 0% 0%;

    /* Purple Shades */
    --purple-100: 265 100% 75.1%;
    --purple-200: 265 41.9% 60%;
    --purple-300: 265 100% 93.5%;

    /* Yellow Shades */
    --yellow-100: 50 90.2% 80.4%;
    --yellow-200: 50 94.7% 94.5%;

    /* Pink Shades */
    --pink-100: 0 68.8% 72.5%;
    --pink-200: 0 86.1% 95.7%;

    /* Green Shades */
    --green-100: 140 66.7% 75.7%;
    --green-200: 140 81.6% 93.5%;

    /* Neutral Shades */
    --neutral-100: 0 0% 0%;
    --neutral-200: 0 0% 8.6%;
    --neutral-300: 220 6.3% 34%;
    --neutral-400: 220 12.5% 91.8%;

    /* White */
    --white: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

